<footer class="w-section section footer">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6">
                <div class="footer-text">Something based on my work&nbsp;</div>
            </div>
            <div class="w-col w-col-6 right-footer-col">
                <a class="w-inline-block social-icon" href="mailto:support@webflow.com?subject=Hello">
                    <img src="http://uploads.webflow.com/55f1faab76e95c4b0da7d766/35ec5a20-6309-494a-9d48-0e463a4d6214_14-social-email.png" width="20">
                </a>
                <a class="w-inline-block social-icon" href="http://facebook.com/webflow" target="_blank">
                    <img src="http://uploads.webflow.com/55f1faab76e95c4b0da7d766/8643c589-cd4b-46b1-956b-2eb95815c79c_14-social-facebook.png" width="20">
                </a>
                <a class="w-inline-block social-icon" href="http://www.twitter.com/webflowapp" target="_blank">
                    <img src="http://uploads.webflow.com/55f1faab76e95c4b0da7d766/a1c85180-93b5-44b0-9d23-1cfa6881fdfe_14-social-twitter.png" width="20">
                </a>
            </div>
        </div>
        <div class="w-row">
            <p style="text-align:center; ">
                Powered by
                <a href="http://www.qt.io" style="text-decoration: none;">Qt</a> &
                <a href="http://www.djangoproject.com" style="text-decoration: none;">Django</a>
        </div>
    </div>
</footer>
