</html>{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-4">
                    <h3>WELCOME</h3>
                    <p> {{ user }}</p>
                </div>

                <div class="w-col w-col-8" style="text-align:left;">
                    <h3>Signing up gives you access to</h3>
                    <p> This lists all your files etc </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}