{% extends 'base.html' %}
{% block content %}

<div id="steps" class="section grey">
    <div class="w-container">
        <div class="w-row">
            <h2 class="section-title">The fastest way to share a file.</h2>

            <table class="section-subtitle steptable">
                <tr>
                    <td class="foldcell"><span class="tablespan">Step 1:</span></td>
                    <td><div class="button notransition">Ctrl-C</div></td>
                    <td><span class="tablespan">Copy some files you want to share.</span></td>
                </tr>
                <tr class="tablespacer"></tr>
                <tr>
                    <td class="foldcell"><span class="tablespan">Step 2:</span></td>
                    <td><div class="button notransition">Ctrl-C</div></td>
                    <td><span class="tablespan"> Copy them again. </span></td>
                </tr>
                <tr class="tablespacer"></tr>
                <tr>
                    <td class="foldcell"><span class="tablespan">Step 3:</span></td>
                    <td><div class="button notransition">Ctrl-V</div></td>
                    <td><span class="tablespan"> Paste the download link to whoever you want.</span></td>
                </tr>
            </table>
        </div>
        <div class="w-row">
            <a class="button" href="#features"> {# Sounds useful? <br> #}&#8681;</a>
        </div>
    </div>
</div>

<div id="features" class="section centered">
    <div class="w-container">
        <div class="w-row">
            <h2 class="section-title">Features</h2>
            <div class="w-row morespace">
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Fast</h3>
                    <p>It only takes 3 commonly-used keyboard shortcuts to upload your files and obtain a download link.</p>
                </div>
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Convenient</h3>
                    <p>If you choose to upload multiple files or folders they will get zipped automatically for your convenience.</p>
                </div>
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Persistent</h3>
                    <p>We will never ever delete your file unless you remove it - back up that one file you never want to lose.</p>
                </div>
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Secure</h3>
                    <p>All communications only run over encrypted (HTTPS) connections to keep the eavesdroppers out.</p>
                </div>
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Cross-platform</h3>
                    <p>Available and tested on Windows and Linux.</p>
                </div>
                <div class="w-col w-col-4 w-col-small-6">
                    <h3>Aware</h3>
                    <p>Keep track of who downloaded your files.</p>
                </div>
            </div>
        </div>
        <div class="w-row">
            <a class="button" href="#signup">Sounds awesome! Sign me up to download the application. <br> &#8681;</a>
        </div>
    </div>
</div>

<div id ="signup" class="section grey">
    <div class="w-container">

        <h2 class="section-title">Sign up</h2>
        <div class="w-row morespace">
            <div class="w-col w-col-6">

                {% for message in messages %}
                    {% if 'register' in message.tags %}
                    <div style="margin-bottom: 20px;">
                        <div class="errorbubble">
                            <span class="errortext">{{ message }}</span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}


                <form class="regform" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <input class="w-input regtextfield" id="email" type="email" placeholder="Email" name="email" required="required" value="
                        {% for message in messages %}
                            {% if 'email' in message.tags %}
                                {{ message }}
                            {% endif %}
                        {% endfor %}
                        ">
                    <input class="w-input regtextfield" id="password1" type="password" placeholder="Password" name="password1" required="required">
                    <input class="w-input regtextfield" id="password2" type="password" placeholder="Retype password" name="password2" required="required">

                    <div style="margin:0px 10px 0px 10px;">
                        <label style="display:inline-block; width:80%; float:left; text-align:left;" for="terms"><p style="margin-bottom:0px;">
                            I agree to the <a href="{% url 'terms' %}" target="_blank">terms and conditions</a>.
                        </p></label>
                        <input style="display:inline-block; float:right;" id="terms" class="termsfield"  type="checkbox" placeholder="false" name="terms">
                    </div>
                    <input class="w-button formsubmitbutton fullwidth" type="submit" value="Sign up">
                </form>
            </div>
            <div class="w-col w-col-6" style="text-align:left;">
                <h3>Signing up gives you access to</h3>
                <ul>
                    <li>The application to download</li>
                    <li>A control panel in which you can view and manage your uploaded files</li>
                    <li> </li>
                </ul>

                <p> We will not send you any emails. </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}