</html>{% extends 'base.html' %}
{% block content %}
    <div class="section">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-4">
                    <h3>WELCOME SUPERMAN</h3>
                    <p> {{ user }}</p>
                </div>

                <div class="w-col w-col-8" style="text-align:left;">
                    <div class="w-row">
                        <h3> File uploader</h3>
                        <form class="w-form" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Upload file!" name="submit">
                        </form>
                    </div>
                    <div class="w-row">
                        <h3> File display</h3>
                        <table style="font-size:10pt;">
                        {% for content in bucketobjects %}
                            <tr>
                                <td>
                                    {{ content.key }}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}