{% extends 'base.html' %}
{% block content %}

    <div class="section">
        <div class="w-container">
            <h2 class="section-title">Terms and conditions</h2>
            <div class="w-row">
                <div class="w-col w-col-6">
                    <h3>Sorry, not a lawyer.</h3>
                    <p>
                        We are not responsible for anything that might happen to your PC.
                        This service is on a best-effort basis.
                    </p>
                </div>
                <div class="w-col w-col-6">
                    <h3>Stuff</h3>
                    <p>More stuff.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}